html 
{
    box-sizing: border-box;
    font-size: 100%;
    
}
body
{
    margin: 0;
    /* background-color: #101010; */
    color: #ffffff;
    color: black;
    font-family: 'Courier Prime', monospace;
}
img 
{
    max-width:100%;
}
a:hover 
{
color: hotpink;
}
.pro
{
    text-decoration: underline;
    font-weight: bold;
    border-style: dotted;
    padding: 2px 2px 2px 2px;
}
h1
{ 
    font-size: 4rem; 
    font-family: 'Sacramento', cursive;
    color:  #66BFBF;

}
h2
{
    font-weight: normal;
    display: inline-block;
    font-size: 2rem;
    color:  #66BFBF;
    margin: 20px;

}
h3
{
    font-weight: normal;
    display: inline-block;
    color:  #66BFBF;
}
h1, h2, h3 
{
    margin-top: 0px;
    max-width:100%;
}
section, aside, div 
{
    padding: 20px;
    border-radius: 12px;
}
.top-container
{
    background-color: #e4f9f5;
    margin: 10px;
    text-align: center;
}
*, *:before, *:after 
{
    box-sizing: inherit;
}
.Who
{
    align-content: center;
    background-color: white;
    margin: 10px;
    text-align: center;
}
.anshu_image
{
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    align-items: center;
    margin: 10px;
    width:12.5rem;
    height:23rem;
}
.mid-container
{
    background-color: white;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
@media (max-width: 900px) 
{
    .right-container,.left-container 
    {
        width: 100%;
    }
  }
.left-container
{
    background-color: #e4f9f5;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 500px;
    margin: 10px;
    text-align: center;
}
.right-container
{
    background-color:  #e4f9f5;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 500px;
    margin: 10px;
    text-align: center;
}
.code_gif
{
    align-self:flex-start ;
    justify-self: center;
    display: block;
    width: 120px;
    height:120px;
    border-radius: 100%;
}
.rating_gif
{
    align-items: center;
    display: block;
    width: 120px;
    height:120px;
    border-radius: 100%;
}
.bottom-container
{
    text-align: center;
    background-color: #e4f9f5;
    margin: 10px;
}
.footer-link
{
    color: #11999E;
    font-weight: bold;
    text-decoration: none;
}
