// extra colors 
$medBlue: #2245ad;
$magenta: #b8246b;
$green: #0fa03f;



@mixin bgGradient($color)
{
    background-image: linear-gradient(lighten($color, 12%) 0%, $color 70%);  
}
  
.blue 
{
    background-color: $medBlue;
    @include bgGradient($medBlue);  
}
  
.magenta 
{
    background-color: $magenta;
    @include bgGradient($magenta);
}
  
.green 
{
    background-color: $green;
    @include bgGradient($green);
}


// main colors(used in the website)
$primary-color:$green;
$accent-color:$medBlue;
$text-color:#ffffff;
$bg-color:black;
$nav-bg-color:#525e65;
 $font-weights:
(
    "regular":400,
    "medium":500,
    "bold":700
)



