@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
.blue {
  background-color: #2245ad;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#355ed7), color-stop(70%, #2245ad));
  background-image: linear-gradient(#355ed7 0%, #2245ad 70%);
}

.magenta {
  background-color: #b8246b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#da4089), color-stop(70%, #b8246b));
  background-image: linear-gradient(#da4089 0%, #b8246b 70%);
}

.green {
  background-color: #0fa03f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#14d855), color-stop(70%, #0fa03f));
  background-image: linear-gradient(#14d855 0%, #0fa03f 70%);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@-webkit-keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

a:hover, a:focus {
  border-bottom: 4px solid white;
}

header {
  padding: 10px;
  border-radius: 12px;
}

section, aside, div {
  padding: 10px;
  border-radius: 12px;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h1, h2, h3 {
  margin-top: 0px;
}

body {
  background-color: black;
  color: #ffffff;
  font-size: 1.125rem;
  margin: 0;
}

header {
  background-color: black;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.navigation-wrap {
  text-align: center;
  background-color: black;
  margin: 0 auto;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.left-nav, .right-nav {
  background-color: black;
}

.left-nav nav ul, .right-nav nav ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: auto;
}

.left-nav nav li, .right-nav nav li {
  list-style: none;
  margin: 0 1em;
}

.left-nav nav a, .right-nav nav a {
  padding: 10px;
  font-family: "Roboto Condensed";
  color: #ffffff;
  font-size: x-large;
  text-decoration: none;
}

.left-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right-nav li {
  padding-left: 0.5em;
}

.right-nav a:hover {
  border: none;
}

@media (max-width: 680px) {
  .left-nav, .right-nav {
    margin-left: -0.5em;
  }
  .left-nav nav ul, .right-nav nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 0;
  }
  .left-nav nav li, .right-nav nav li {
    margin: 0 0.15em;
  }
  .left-nav nav a, .right-nav nav a {
    font-size: medium;
    padding: 2px;
  }
  .navigation-wrap {
    margin: 0 auto;
    width: 100%;
    max-width: 680px;
    padding: 0.5em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
}

.container {
  background-color: black;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 200px;
  padding: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.container .gigantic-headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 65%;
  background-color: black;
  padding: 2rem;
}

.container h1 {
  margin: 0 auto;
  font-family: "Roboto Condensed";
  font-size: 5rem;
}

.title {
  color: #fff;
}
/*# sourceMappingURL=main.css.map */