@import './colors.scss';
@import './resets.scss';
@import './typography.scss';



body
{
    background-color:$bg-color;
    color: $text-color;
    font-size: 1.125rem;
    margin: 0;
}


// Navigation section
#site-nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2.5px;
    background-color:$nav-bg-color;
    margin: 0 auto;
    width: 100%;
    min-width:20rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    ul li:hover
    {
        padding: 1px;
        background-color: #015d56; 
        transition:0.9s ;
    }

}
.menu
{
    margin: 0 auto;
    padding: 5px;
}
.list
{
    display: flex;
    list-style: none;
    margin: 0 auto;
    a
    {
        padding: 10px;
        font-family: $heading-font-family;
        color: $text-color;
        font-size:large;
        text-decoration: none;  
    }
}
    

// rest of the body section
.container
{
    // background-color:#4e54c8;
    background-color: transparent;
    background:-webkit-linear-gradient(to left,#8f94fb,#4e54c8);
    height: auto;
    display: flex;
    margin-top: 50px;
    padding: 1rem;
    justify-content:center;
    width: 100%;
    .gigantic-headline
    {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 65%;
        background-color:transparent;
        padding: 2rem;
    }
    h1
    {
        margin: 0 auto;
        font-family: $heading-font-family;
        font-size: 5rem;
    }
}

.title
{
    color: #fff;
}






@import './media.scss';
@import './animations.scss';