@import './colors.scss';
@import './resets.scss';
@import './typography.scss';

body
{
    background-color:$bg-color;
    color: $text-color;
    font-size: 1.125rem;
    margin: 0;
}


// Navigation section
header
{
    background-color:black;
    margin: 0 auto;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    // bottom: 0;
}
.navigation-wrap
{
    text-align: center;
    background-color: black;
    margin: 0 auto;
    width: 100%;
    padding: 0.5em;
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    // overflow: hidden;
}
nav
{
   ul
   {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-around;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
   }
   li
   {
       list-style: none;
       margin:0 1em;
   }
   a
   {
       font-family: $heading-font-family;
       color: $text-color;
       font-size:x-large;
       text-decoration: none;
   }
}
@media(max-width:680px)
{
    .navigation-wrap
    {
        margin: 0 auto;
        width: 100%;
        max-width: 680px;
        padding: 0.5em;
    }
    nav
    {
        ul
        {
            flex-direction: row;
            margin: 0 auto;
        }
        a
        {
            font-size: medium;
        }
        
    }

}
// ==================================================================//


// Collapsable menu section
// .menu-content
// {
//     font-family: $heading-font-family;
//     padding:0 0 0 50px;
//     li
//     {
//         list-style: none;
//     }
// }

// .collapsible-menu 
// {
//     background-color:black;
//     padding: 0px 30px;
//     border-bottom: 3px solid #CDE700;
//     box-shadow: 1px 2px 3px $bg-color;
//     ul
//     {
//         list-style:none ;
//         padding: 0;
//     }
//     a
//     {
//         display: block;
//         padding: 10px;
//         text-decoration: none;
//     }
//     label
//     {
//         font-family: $heading-font-family;
//         font-size: 56px;
//         display: block;
//         background: url('/Icons/technologist_1f9d1-200d-1f4bb.ico') no-repeat left center;
//         cursor: pointer;
//         padding: 20px 0 20px 50px;
//     }
// }
// input#menu
// {
//     display: none;
// }
// ==================================================================//



// rest of the body section
.container
{
    margin-top: 40px;
    padding: 1rem;
}