@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
.blue {
  background-color: #2245ad;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#355ed7), color-stop(70%, #2245ad));
  background-image: linear-gradient(#355ed7 0%, #2245ad 70%);
}

.magenta {
  background-color: #b8246b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#da4089), color-stop(70%, #b8246b));
  background-image: linear-gradient(#da4089 0%, #b8246b 70%);
}

.green {
  background-color: #0fa03f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#14d855), color-stop(70%, #0fa03f));
  background-image: linear-gradient(#14d855 0%, #0fa03f 70%);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@-webkit-keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

a:hover, a:focus {
  border-bottom: 4px solid white;
}

header {
  padding: 10px;
  border-radius: 12px;
}

section, aside, div {
  padding: 10px;
  border-radius: 12px;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h1, h2, h3 {
  margin-top: 0px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  max-width: 60rem;
  margin-inline: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

body {
  background-color: black;
  color: #ffffff;
  font-size: 1.125rem;
  margin: 0;
}

.site-nav {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2.5px;
  background-color: #525e65;
  margin: 0 auto;
  width: 100%;
  min-width: 20rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.site-nav ul li:hover {
  padding: 1px;
  background-color: #015d56;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.menu {
  margin: 0;
  padding: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list {
  list-style: none;
  margin: 0 auto;
  padding: 1px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.list a {
  padding-inline: 15px;
  font-family: "Roboto Condensed";
  color: #ffffff;
  font-size: large;
  text-decoration: none;
}

.circle-animation {
  background-color: transparent;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  padding: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.circle-animation .gigantic-headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 65%;
  background-color: transparent;
  padding: 2rem;
}

.circle-animation h1 {
  margin: 0 auto;
  font-family: "Roboto Condensed";
  font-size: 5rem;
}

.gigantic-headline {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.title {
  color: #fff;
}

@media only screen and (max-width: 600px) {
  #site-nav {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    max-width: 100%;
  }
  .menu {
    margin-inline: auto;
    -ms-flex-negative: 2.5;
        flex-shrink: 2.5;
  }
  .list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-inline: auto;
    padding: 1vw;
  }
  .list a {
    font-size: 5vw;
    padding-inline: 2vw;
  }
  .gigantic-headline {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .gigantic-headline h1 {
    font-size: 15vw;
  }
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-animation: animate 25s linear infinite;
          animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 35s;
          animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
            transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
            transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
/*# sourceMappingURL=main.css.map */