@import './colors.scss';
@import './resets.scss';
@import './typography.scss';

body
{
    background-color:$bg-color;
    color: $text-color;
    font-size: 1.125rem;
    margin: 0;
}


// Navigation section
header
{
    background-color:black;
    margin: 0 auto;
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    
}
.navigation-wrap
{
    text-align: center;
    background-color: black;
    margin: 0 auto;
    width: 85%;
    display: flex;
    justify-content: space-evenly;
}
.left-nav,.right-nav
{
    background-color: black;
    nav
    {
        ul
        {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: space-around;
            margin-top: 0;
            margin-bottom: 0;
            margin-left:0;
            margin-right: auto;
        }
        li
        {
            list-style: none;
            margin:0 1em;
        }
        a
        {
            padding: 10px;
            font-family: $heading-font-family;
            color: $text-color;
            font-size:x-large;
            text-decoration: none;    
        }
        
        
        
    }
    
}
.left-nav
{
    display: flex;
    justify-content: center;
}
.right-nav
{
    display: flex;
    width: 90;
    justify-content: center;
    // padding-top:1.7%;
    li
    {
        padding-left:0.5em;
    }
    a:hover
    {
        border: none;
    }
}


@media(max-width:680px)
{
    .left-nav,.right-nav
    {
        margin-left: -0.5em;
        nav
        {
            ul
            {
                flex-direction: row;
                margin-left: 0;
            }
            li
            {
                margin: 0 0.15em;
            }
            a
            {
                font-size: medium;
                padding:2px;
            }
    
        }
    }
    .navigation-wrap
    {
        margin: 0 auto;
        width: 100%;
        max-width: 680px;
        padding: 0.5em;
        flex-direction:row;
        justify-content: space-between;
        text-align: left;
    }
   
   

}

// rest of the body section
.container
{
    margin-top: 80px;
    padding: 1rem;
}