@media only screen and  (max-width:600px) 
{
    #site-nav
    {
        justify-content: space-evenly;
        max-width: 100%;
    }
    .menu
    {
        margin-inline:auto;
        flex-shrink: 2.5;
    }
    .list
    {
        justify-content: space-evenly;
        margin-inline: auto;
        padding: 1vw;
        a
        {
            font-size: 5vw;
            padding-inline: 2vw;
        }
    }


    .gigantic-headline
    {
        flex-wrap: wrap;
        h1
        {
            font-size: 15vw;

        }
    }


}