@media only screen and  (max-width:600px) 
{
    #site-nav
    {
        justify-content: space-evenly;
        max-width: 100%;
        ul li:hover
        {
            padding: 0.5px;
            background-color: #015d56; 
            transition:0.5s ;
        }
    }
    .menu
    {
        margin: 0 auto;
        width: 90%;
    }
    .list
    {
        justify-content: space-evenly;
        width: 100%;
        padding: 8px;

    }
}