html {
    box-sizing: border-box;
    font-size: 100%;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

section, aside, div {
    padding: 20px;
    border-radius: 12px;
  }

h1 { 
    font-size: 4rem; 
  }
  
  h2 { 
    font-size: 3rem; 
  }
  
  h1, h2, h3 {
    margin-top: 0px;
  }